.slider{ 
    height: calc(100vh - 80px );
    width: 100w;
    position: relative;
    overflow: hidden;
    .container{
        display: flex;
        width: 300vw;
        height: 100%;
        transition: all 0.5s ease-in-out;

        img{
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }

    .icons{
        width: fit-content;
        position: absolute;
        bottom: 100px;
        left: 0;
        right: 0;
        display: flex;
        margin: auto;
        gap: 10px; 

        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            font-weight: bold;
            border: 1px solid black;
            border-radius: 10%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: white;
                background-color: #000;
            }
        }
    }
}